table{
    border: solid teal 1px;
    padding: 0;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    width: 100%;
}
table td,table th{
padding: 5px 0;
text-indent: 5px;
font-size: 12px;
text-align: center;

}
table th{
    padding-top: 12px;
    background-color: teal;
    position: sticky;
    color: white;
    font-size: 16px;

}
table tr:nth-child(even){
    background-color: rgb(231, 218, 218);

}

